.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  color: #fff;
}

main {
  flex-grow: 1;
  display: flex;
  min-height: 0;
  overflow: auto;
  justify-content: center;
}

h1 {
  margin-bottom: 5px;
}

.small {
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

.burgers-chart {
  margin: 0 auto;
}

.chart-content {
  flex-basis: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
